
.header {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    background: teal;
    color: #ffffff;
    padding: 2rem;
}






















  /* .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  .card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
  } */